/* ----------------------------------------------------------------------------  */
/* Rooting */
root {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth; }

/* ----------------------------------------------------------------------------  */
/* Texts */
/* these settings override the bootstrap */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: unset;
  margin-bottom: unset;
  font-weight: unset;
  line-height: unset; }

.c-title-1 {
  font-size: 7rem;
  font-weight: 500;
  line-height: 7.5rem;
  letter-spacing: 4px; }

.c-title-2 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 4.5rem;
  letter-spacing: 2px; }

.c-title-3 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3.5rem;
  letter-spacing: inherit; }

.c-title-4 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: inherit; }

.c-title-5 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: inherit; }

.c-title-6 {
  font-size: 1.12rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: inherit; }

.c-text-1 {
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: inherit;
  color: #8D9094; }

.c-text-2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: inherit;
  color: #8D9094; }

@media (max-width: 991px) {
  .c-title-1 {
    font-size: 5rem;
    font-weight: 500;
    line-height: 5.5rem;
    letter-spacing: 2px; }

  .c-title-2 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2.75rem;
    letter-spacing: 2px; }

  .c-title-3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.25rem;
    letter-spacing: inherit; }

  .c-title-4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: inherit; }

  .c-title-5 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 1px; }

  .c-text-1 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: inherit; }

  .c-text-2 {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 1px; } }
@media (max-width: 425px) {
  .c-title-1 {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 3.8rem;
    letter-spacing: 2px; } }
/* ----------------------------------------------------------------------------  */
/* Components */
.c-section {
  padding: 5rem 0;
  display: block;
  position: relative; }
  @media (max-width: 991px) {
    .c-section {
      padding: 2.5rem 0; } }

.c-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  max-width: 1184px; }
  @media (max-width: 991px) {
    .c-container {
      max-width: 100%; } }
  @media (max-width: 425px) {
    .c-container {
      padding-left: 1.25rem;
      padding-right: 1.25rem; } }

.c-button-1 {
  color: #FAFAFA;
  background-color: #FF4F3C;
  border: none;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 1.6rem 0.75rem 1.6rem;
  font-weight: 500;
  line-height: 1.13rem;
  letter-spacing: 0.5px;
  text-decoration: none;
  transition: background-color 300ms, box-shadow 300ms, transform 300ms, border 300ms;
  transition-timing-function: ease-in-out; }
  .c-button-1:hover {
    color: #FAFAFA;
    background-color: #FF4F3C;
    box-shadow: 0px 8px 32px rgba(255, 79, 59, 0.24);
    transform: scale(1.03); }

.c-button-2 {
  color: #FF4F3C;
  background-color: none;
  border: 2px solid #FF4F3C;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 1.6rem 0.75rem 1.6rem;
  font-weight: 500;
  line-height: 1.13rem;
  letter-spacing: 0.5px;
  text-decoration: none;
  transition: background-color 300ms, box-shadow 300ms, transform 300ms, border 300ms;
  transition-timing-function: ease-in-out; }
  .c-button-2:hover {
    color: #FF4F3C;
    background: #FAD7D3;
    border-color: #FAD7D3;
    box-shadow: 0px 8px 32px rgba(255, 79, 59, 0.24);
    transform: scale(1.03); }

.c-button-3 {
  font-weight: 500;
  letter-spacing: unset;
  color: #FF4F3C;
  text-decoration: unset;
  transition: color 300ms, opacity 300ms;
  transition-timing-function: ease-in-out; }
  .c-button-3:hover {
    color: #FF4F3C;
    opacity: 0.75; }
  .c-button-3 svg {
    fill: #FF4F3C;
    margin-left: 0.3rem;
    height: 100%;
    transition: fill 300ms, transform 300ms, opacity 300ms;
    transition-timing-function: ease-in-out; }
  .c-button-3:hover svg {
    fill: #FF4F3C;
    transform: translateX(4px);
    opacity: 0.75; }

body {
  margin: 0px;
  padding: 0px;
  position: relative;
  font-family: Forma-DJR-Display, sans-serif;
  line-height: 1.6rem;
  letter-spacing: 1px;
  font-size: 16px;
  color: #282520;
  background-color: #FAFAFA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* ----------------------------------------------------------------------------  */
/* Header */
.c-header {
  background-color: #FAFAFA;
  border-bottom: solid 1px #EAEAEA;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 66px;
  padding-left: 2.5rem;
  padding-right: 2.5rem; }
  @media (max-width: 991px) {
    .c-header {
      height: initial;
      padding: 0.75rem 0; } }

.navbar {
  padding: 0.75rem 0 0 0 !important;
  max-width: 1104px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  background-color: unset !important;
  max-width: 70rem; }
  @media (max-width: 991px) {
    .navbar {
      max-width: 100%;
      padding: 0 2.5rem !important; } }
  @media (max-width: 425px) {
    .navbar {
      padding: 0 1.25rem !important; } }

.container-fluid {
  padding: 0; }
  @media (max-width: 991px) {
    .container-fluid {
      display: flex;
      flex-direction: row; }
      .container-fluid button {
        order: 2; }
      .container-fluid .social-wrapper {
        order: 1; }
      .container-fluid .navbar-collapse {
        order: 3; }
      .container-fluid .c-nav_social {
        padding-left: 0;
        padding-right: 2rem; }
        .container-fluid .c-nav_social li {
          margin-left: 0;
          margin-right: 0.5rem; } }

.c-menu-icon {
  display: none;
  padding: 2px; }
  @media (max-width: 991px) {
    .c-menu-icon {
      display: block; } }

.navbar-toggler {
  padding: 0.2rem;
  border: none; }
  .navbar-toggler:focus {
    box-shadow: none; }

.navbar-collapse {
  list-style: none; }

@media (max-width: 991px) {
  .navbar-nav {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    height: 100vh; } }

.nav-item {
  padding: 0.5rem;
  margin-right: 1rem;
  height: 3rem; }
  .nav-item:hover .nav-link {
    color: #8D9094; }
  .nav-item:hover .current-link {
    width: 4px;
    height: 4px; }
  @media (max-width: 991px) {
    .nav-item {
      margin-bottom: 1.5rem;
      margin-right: 0; } }

.nav-link {
  padding: 0 !important;
  font-size: 0.87rem;
  color: #BABDC2 !important;
  line-height: 1.5rem;
  letter-spacing: 1px;
  transition: all 300ms ease-in-out; }
  .nav-link:visited {
    color: none; }
  @media (max-width: 991px) {
    .nav-link {
      font-size: 2rem;
      line-height: 2rem; } }

.nav-link.active {
  color: #FF4F3C !important; }
  .nav-link.active ~ .current-link {
    width: 4px;
    height: 4px;
    background-color: #FF4F3C; }

.current-link {
  width: 0px;
  height: 0px;
  background: #BABDC2;
  border-radius: 100px;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: all 300ms ease-in-out; }
  @media (max-width: 991px) {
    .current-link {
      display: none; } }

.c-nav_social {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  list-style: none;
  margin-top: 0.3rem; }
  .c-nav_social li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem; }
    .c-nav_social li a {
      display: flex;
      align-items: center;
      justify-content: center; }
      .c-nav_social li a svg {
        margin: auto;
        transition: all 300ms ease-in-out; }
        .c-nav_social li a svg path {
          fill: #BABDC2;
          transition: all 300ms ease-in-out; }
    .c-nav_social li:hover svg {
      transform: scale(1.1); }
      .c-nav_social li:hover svg path {
        fill: #FF4F3C; }
  @media (max-width: 991px) {
    .c-nav_social {
      margin: 0; } }

.navbar-collapse.collapse.show {
  border-radius: unset;
  animation: unset;
  animation-duration: unset;
  box-shadow: unset;
  margin-bottom: 2rem; }

/* ----------------------------------------------------------------------------  */
/* Hero */
.cc-section_hero {
  margin-bottom: 5rem;
  padding: 2rem 0 0 0; }
  @media (max-width: 991px) {
    .cc-section_hero {
      margin-bottom: 2.5rem; } }

.c-hero_avatar-mobile {
  display: none; }
  @media (max-width: 991px) {
    .c-hero_avatar-mobile {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 5.5rem 0 0 0; }
      .c-hero_avatar-mobile img {
        width: 4rem;
        height: 4rem;
        margin-right: 1rem; }
      .c-hero_avatar-mobile .c-text-2, .c-hero_avatar-mobile .c-title-5 {
        margin: unset; } }

.c-hero_copy {
  display: flex;
  justify-content: flex-start;
  padding-top: 8rem; }
  @media (max-width: 991px) {
    .c-hero_copy {
      padding-top: 3rem; }
      .c-hero_copy .c-title-1 {
        margin-bottom: 1.5rem; } }
  .c-hero_copy .c-title-1 {
    display: flex;
    justify-content: start;
    margin-bottom: 3rem;
    max-width: 56rem; }
    @media (max-width: 425px) {
      .c-hero_copy .c-title-1 {
        margin-bottom: 0.5rem; } }

.c-hero_bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }

.c-button-dropdown_wrapper:hover .c-button_dropdown {
  visibility: visible;
  opacity: 1; }
@media (max-width: 600px) {
  .c-button-dropdown_wrapper:hover .c-button_dropdown {
    visibility: hidden;
    opacity: 0; } }

.c-button-wrapper {
  padding-top: 1rem; }
  @media (max-width: 991px) {
    .c-button-wrapper .c-button-1 {
      display: none; } }
  .c-button-wrapper .c-button-1.mobile {
    display: none; }
    @media (max-width: 991px) {
      .c-button-wrapper .c-button-1.mobile {
        display: inherit; } }

.c-button_dropdown {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -7rem;
  left: -0.65rem;
  background-color: white;
  box-shadow: 24px 24px 64px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  transition: opacity 300ms ease-in-out; }
  .c-button_dropdown .c-button_divider {
    height: 1px;
    background-color: #EAEAEA;
    opacity: 0.64; }
  .c-button_dropdown a, .c-button_dropdown .c-link_copy {
    padding: 1rem 1.75rem;
    text-decoration: none;
    color: #282520;
    background-color: #FAFAFA;
    transition: all 300ms ease-in-out;
    cursor: pointer; }
    .c-button_dropdown a svg, .c-button_dropdown .c-link_copy svg {
      margin-right: 0.5rem; }
      .c-button_dropdown a svg path, .c-button_dropdown .c-link_copy svg path {
        transition: all 300ms ease-in-out; }
    .c-button_dropdown a:hover, .c-button_dropdown .c-link_copy:hover {
      color: #FF4F3C;
      background-color: #f3f3f3; }
      .c-button_dropdown a:hover svg path, .c-button_dropdown .c-link_copy:hover svg path {
        fill: #FF4F3C; }

.c-hero_bottom-cta {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; }
  .c-hero_bottom-cta .c-button-1 {
    margin-right: 0.75rem; }
  @media (max-width: 425px) {
    .c-hero_bottom-cta {
      flex-direction: column;
      align-items: flex-start; }
      .c-hero_bottom-cta .c-button-1 {
        margin-bottom: 0.8rem; } }

.c-hero_bottom-avatar {
  display: flex;
  justify-content: flex-start;
  padding-top: 1rem; }
  .c-hero_bottom-avatar img {
    width: 6.5rem;
    height: 6.5rem;
    margin-right: 1.5rem; }
  @media (max-width: 991px) {
    .c-hero_bottom-avatar {
      display: none; } }

.c-hero_bottom-avatar_copy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 1.25rem; }

/* ----------------------------------------------------------------------------  */
/* Carousel */
.cc-container_carousel {
  overflow: hidden;
  position: relative;
  max-width: 1920px;
  padding: unset; }

.c-carousel_background {
  display: none;
  width: 1440px;
  max-width: 1920px; }
  @media (min-width: 1920px) {
    .c-carousel_background {
      display: block;
      position: absolute;
      width: 1920px;
      height: 100%;
      background: linear-gradient(90deg, #FAFAFA 5%, rgba(250, 250, 250, 0) 20%, rgba(250, 250, 250, 0) 80%, #FAFAFA 95%); } }

.c-carousel_content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  animation-duration: 20s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }
@keyframes slidein {
  from {
    margin-left: 0rem; }
  to {
    margin-left: -102rem; } }
  @media (max-width: 991px) {
    @keyframes slidein {
      from {
        margin-left: 0rem; }
      to {
        margin-left: -35rem; } } }

.c-carousel_item-xl {
  width: 27rem;
  height: auto;
  margin-right: 2rem;
  border-radius: 4px; }
  @media (max-width: 991px) {
    .c-carousel_item-xl {
      margin-right: 1.25rem; } }
  @media (max-width: 991px) {
    .c-carousel_item-xl {
      width: 18.75rem;
      height: auto;
      margin-right: 2rem;
      border-radius: 4px; } }
  @media (max-width: 991px) and (max-width: 991px) {
    .c-carousel_item-xl {
      margin-right: 1.25rem; } }

.c-carousel_item-s {
  width: 20rem;
  height: auto;
  margin-right: 2rem;
  border-radius: 4px; }
  @media (max-width: 991px) {
    .c-carousel_item-s {
      margin-right: 1.25rem; } }
  @media (max-width: 991px) {
    .c-carousel_item-s {
      width: 13.75rem;
      height: auto;
      margin-right: 2rem;
      border-radius: 4px; } }
  @media (max-width: 991px) and (max-width: 991px) {
    .c-carousel_item-s {
      margin-right: 1.25rem; } }

/* ----------------------------------------------------------------------------  */
/* Clients */
.cc-section_clients {
  padding-bottom: 2.5rem; }

.c-clients_content {
  display: flex;
  flex-flow: wrap;
  justify-content: center; }

.c-clients_logo-refokus {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1rem;
  fill: #BABDC2;
  transition: fill 300ms, transform 300ms ease-in-out; }
  .c-clients_logo-refokus:hover {
    transform: scale(1.03);
    fill: #7443ff; }

.c-clients_logo-bons {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1rem;
  fill: #BABDC2;
  transition: fill 300ms, transform 300ms ease-in-out; }
  .c-clients_logo-bons:hover {
    transform: scale(1.03);
    fill: #3BCEBE; }

.c-clients_logo-atelier {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1rem;
  fill: #BABDC2;
  transition: fill 300ms, transform 300ms ease-in-out;
  position: relative;
  top: 5.2px; }
  .c-clients_logo-atelier:hover {
    transform: scale(1.03);
    fill: #E88F86; }

.c-clients_logo-ficovisual {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1rem;
  fill: #BABDC2;
  transition: fill 300ms, transform 300ms ease-in-out;
  margin-right: 0; }
  .c-clients_logo-ficovisual:hover {
    transform: scale(1.03);
    fill: #4b5279; }

/* ----------------------------------------------------------------------------  */
/* Expertise */
.cc-section_expertise {
  padding-top: 7.5rem;
  padding-bottom: 15rem; }
  @media (max-width: 991px) {
    .cc-section_expertise {
      padding-bottom: 5rem; } }

.c-expertise_copy {
  text-align: center;
  margin-bottom: 11.12rem;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto; }
  .c-expertise_copy .c-title-2 {
    margin-bottom: 1rem; }
  .c-expertise_copy .c-text-1 {
    margin: unset; }
  @media (max-width: 991px) {
    .c-expertise_copy {
      margin-bottom: 8rem;
      max-width: 33rem; }
      .c-expertise_copy .c-title-2 {
        margin-bottom: 4px; } }
  @media (max-width: 425px) {
    .c-expertise_copy {
      margin-bottom: 6rem; } }

.c-expertise {
  display: flex;
  flex-flow: row-reverse;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 69rem; }
  @media (max-width: 620px) {
    .c-expertise {
      flex-flow: column-reverse; } }

.c-expertise_card01 {
  color: #FF4F3C;
  box-shadow: 64px 64px 160px rgba(0, 0, 0, 0.12);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 34rem;
  padding: 12.5rem 4rem 4rem 4rem;
  margin-right: 2rem;
  border-radius: 4px;
  background-color: #FAFAFA;
  transition: box-shadow 500ms, color 500ms, transform 500ms;
  transition-timing-function: ease-in-out;
  transform: scale(1.05); }
  @media (max-width: 991px) {
    .c-expertise_card01 {
      padding: 10.25rem 1.5rem 1.5rem 1.5rem; } }
  .c-expertise_card01 .c-expertise_img {
    width: 24rem;
    top: -5rem;
    position: absolute;
    align-self: center;
    z-index: 1;
    transition: transform 500ms ease-in-out; }
  @media (max-width: 991px) {
    .c-expertise_card01 {
      color: #282520;
      box-shadow: 64px 64px 160px rgba(0, 0, 0, 0.12);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-width: 34rem;
      padding: 12.5rem 4rem 4rem 4rem;
      margin-right: 2rem;
      border-radius: 4px;
      background-color: #FAFAFA;
      transition: box-shadow 500ms, color 500ms, transform 500ms;
      transition-timing-function: ease-in-out;
      transform: unset;
      margin-right: 0.5rem; } }
  @media (max-width: 991px) and (max-width: 991px) {
    .c-expertise_card01 {
      padding: 10.25rem 1.5rem 1.5rem 1.5rem; } }
  @media (max-width: 991px) {
      .c-expertise_card01 .c-expertise_img {
        width: 17.5rem;
        top: -3rem;
        position: absolute;
        align-self: center;
        z-index: 1;
        transition: transform 500ms ease-in-out; } }
  @media (max-width: 620px) {
    .c-expertise_card01 {
      margin-bottom: 5rem; } }

.c-expertise_card02 {
  color: #282520;
  box-shadow: unset;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 34rem;
  padding: 12.5rem 4rem 4rem 4rem;
  margin-right: 2rem;
  border-radius: 4px;
  background-color: #FAFAFA;
  transition: box-shadow 500ms, color 500ms, transform 500ms;
  transition-timing-function: ease-in-out;
  top: 64px; }
  @media (max-width: 991px) {
    .c-expertise_card02 {
      padding: 10.25rem 1.5rem 1.5rem 1.5rem; } }
  .c-expertise_card02:hover + .c-expertise_card01 {
    color: #282520;
    box-shadow: unset;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 34rem;
    padding: 12.5rem 4rem 4rem 4rem;
    margin-right: 2rem;
    border-radius: 4px;
    background-color: #FAFAFA;
    transition: box-shadow 500ms, color 500ms, transform 500ms;
    transition-timing-function: ease-in-out;
    transform: scale(1); }
    @media (max-width: 991px) {
      .c-expertise_card02:hover + .c-expertise_card01 {
        padding: 10.25rem 1.5rem 1.5rem 1.5rem; } }
    .c-expertise_card02:hover + .c-expertise_card01 .c-expertise_img {
      transform: translateY(-1rem); }
  .c-expertise_card02:hover {
    color: #FF4F3C;
    box-shadow: 64px 64px 160px rgba(0, 0, 0, 0.12);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 34rem;
    padding: 12.5rem 4rem 4rem 4rem;
    margin-right: 2rem;
    border-radius: 4px;
    background-color: #FAFAFA;
    transition: box-shadow 500ms, color 500ms, transform 500ms;
    transition-timing-function: ease-in-out;
    transform: scale(1.05); }
    @media (max-width: 991px) {
      .c-expertise_card02:hover {
        padding: 10.25rem 1.5rem 1.5rem 1.5rem; } }
  .c-expertise_card02 .c-expertise_img {
    width: 12rem;
    top: -5rem;
    position: absolute;
    align-self: center;
    z-index: 1;
    transition: transform 500ms ease-in-out; }
  .c-expertise_card02:hover .c-expertise_img {
    transform: translateY(1rem);
    opacity: 1; }
  @media (max-width: 991px) {
    .c-expertise_card02 {
      color: #282520;
      box-shadow: 64px 64px 160px rgba(0, 0, 0, 0.12);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-width: 34rem;
      padding: 12.5rem 4rem 4rem 4rem;
      margin-right: 2rem;
      border-radius: 4px;
      background-color: #FAFAFA;
      transition: box-shadow 500ms, color 500ms, transform 500ms;
      transition-timing-function: ease-in-out;
      top: 0;
      z-index: 1;
      margin-right: 0;
      margin-left: 0.5rem; } }
  @media (max-width: 991px) and (max-width: 991px) {
    .c-expertise_card02 {
      padding: 10.25rem 1.5rem 1.5rem 1.5rem; } }
  @media (max-width: 991px) {
      .c-expertise_card02:hover + .c-expertise_card01 {
        color: #282520;
        box-shadow: 64px 64px 160px rgba(0, 0, 0, 0.12);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 34rem;
        padding: 12.5rem 4rem 4rem 4rem;
        margin-right: 2rem;
        border-radius: 4px;
        background-color: #FAFAFA;
        transition: box-shadow 500ms, color 500ms, transform 500ms;
        transition-timing-function: ease-in-out;
        transform: unset;
        margin-right: 0.5rem; } }
    @media (max-width: 991px) and (max-width: 991px) {
      .c-expertise_card02:hover + .c-expertise_card01 {
        padding: 10.25rem 1.5rem 1.5rem 1.5rem; } }
  @media (max-width: 991px) {
        .c-expertise_card02:hover + .c-expertise_card01 .c-expertise_img {
          transform: unset; }
      .c-expertise_card02:hover {
        color: #282520;
        box-shadow: 64px 64px 160px rgba(0, 0, 0, 0.12);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 34rem;
        padding: 12.5rem 4rem 4rem 4rem;
        margin-right: 2rem;
        border-radius: 4px;
        background-color: #FAFAFA;
        transition: box-shadow 500ms, color 500ms, transform 500ms;
        transition-timing-function: ease-in-out;
        transform: unset;
        margin-right: 0;
        margin-left: 0.5rem; } }
    @media (max-width: 991px) and (max-width: 991px) {
      .c-expertise_card02:hover {
        padding: 10.25rem 1.5rem 1.5rem 1.5rem; } }
  @media (max-width: 991px) {
      .c-expertise_card02 .c-expertise_img {
        width: 9rem;
        top: -4rem;
        position: absolute;
        align-self: center;
        z-index: 1;
        transition: transform 500ms ease-in-out; }
      .c-expertise_card02:hover .c-expertise_img {
        transform: unset;
        opacity: 1; } }

.c-expertise_card-copy {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .c-expertise_card-copy .c-title-3 {
    margin-bottom: 2rem; }
  .c-expertise_card-copy .c-text-2 {
    margin-bottom: 1rem; }
  @media (max-width: 991px) {
    .c-expertise_card-copy .c-title-3 {
      margin-bottom: 0.87rem; } }

/* ----------------------------------------------------------------------------  */
/* Projects */
.cc-section_projects {
  margin-top: unset;
  margin-bottom: unset;
  padding-top: 10rem;
  padding-bottom: unset;
  background-color: #140E0E; }
  .cc-section_projects .c-title-2 {
    color: #FAFAFA;
    text-align: center;
    margin-bottom: 5rem; }
  @media (min-width: 1400px) {
    .cc-section_projects .container-sm {
      max-width: 1104px;
      padding: unset; } }
  @media (min-width: 320px) and (max-width: 1399px) {
    .cc-section_projects .container-sm {
      max-width: 100%;
      padding: 0; } }
  @media (max-width: 991px) {
    .cc-section_projects {
      padding-top: 5rem; }
      .cc-section_projects .c-title-2 {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
        max-width: 16rem; } }

.row {
  padding-bottom: 1.5rem; }
  @media (max-width: 991px) {
    .row {
      padding-bottom: 1.25rem; }
      .row .col-5 {
        padding-right: 0.62rem;
        padding-left: 0.62rem; }
      .row .col {
        padding-right: 0.62rem;
        padding-left: 0.62rem; } }
  @media (max-width: 425px) {
    .row {
      flex-direction: column; }
      .row .col-5 {
        width: 100%; } }

.c-project_1 {
  padding: 2.5rem 0 0 2.5rem;
  background-color: #439072;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 39.6rem;
  border-radius: 4px; }
  @media (max-width: 991px) {
    .c-project_1 {
      height: 24.6rem; } }
  .c-project_1 .c-projects_img {
    background-image: url("../Images/Assets_Projects_01.png");
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: filter 500ms, transform 500ms ease-in-out; }

.c-project_2 {
  padding: 0 0 2.5rem 2.5rem;
  background-color: #C83944;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 39.6rem;
  border-radius: 4px; }
  @media (max-width: 991px) {
    .c-project_2 {
      height: 24.6rem; } }
  .c-project_2 .c-projects_img {
    background-image: url("../Images/Assets_Projects_02.png");
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: filter 500ms, transform 500ms ease-in-out; }

.c-project_3 {
  padding: 0 2.5rem;
  background-color: #4C6468;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 39.6rem;
  border-radius: 4px; }
  @media (max-width: 991px) {
    .c-project_3 {
      height: 24.6rem; } }
  .c-project_3 .c-projects_img {
    background-image: url("../Images/Assets_Projects_03.png");
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: filter 500ms, transform 500ms ease-in-out; }

.c-project_4 {
  padding: 0 2.5rem 0 0;
  background-color: #597BA4;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 39.6rem;
  border-radius: 4px; }
  @media (max-width: 991px) {
    .c-project_4 {
      height: 24.6rem; } }
  .c-project_4 .c-projects_img {
    background-image: url("../Images/Assets_Projects_04.png");
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: filter 500ms, transform 500ms ease-in-out; }

.c-project_5 {
  padding: 0 0 2.5rem 0;
  background-color: #B0B2BE;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 39.6rem;
  border-radius: 4px; }
  @media (max-width: 991px) {
    .c-project_5 {
      height: 24.6rem; } }
  .c-project_5 .c-projects_img {
    background-image: url("../Images/Assets_Projects_05.png");
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: filter 500ms, transform 500ms ease-in-out; }

@media (max-width: 991px) {
  .c-project_1 {
    padding: 1.5rem 0 0 1.5rem;
    background-color: #439072;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 39.6rem;
    border-radius: 4px; } }
  @media (max-width: 991px) and (max-width: 991px) {
    .c-project_1 {
      height: 24.6rem; } }

@media (max-width: 991px) {
  .c-project_2 {
    padding: 0 0 1.5rem 1.5rem;
    background-color: #C83944;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 39.6rem;
    border-radius: 4px; } }
  @media (max-width: 991px) and (max-width: 991px) {
    .c-project_2 {
      height: 24.6rem; } }

@media (max-width: 991px) {
  .c-project_3 {
    padding: 0 1.5rem;
    background-color: #4C6468;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 39.6rem;
    border-radius: 4px; } }
  @media (max-width: 991px) and (max-width: 991px) {
    .c-project_3 {
      height: 24.6rem; } }

@media (max-width: 991px) {
  .c-project_4 {
    padding: 1.5rem 1.5rem 0 0;
    background-color: #597BA4;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 39.6rem;
    border-radius: 4px; } }
  @media (max-width: 991px) and (max-width: 991px) {
    .c-project_4 {
      height: 24.6rem; } }

@media (max-width: 991px) {
  .c-project_5 {
    padding: 0 1.5rem 1.5rem 0;
    background-color: #B0B2BE;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 39.6rem;
    border-radius: 4px; } }
  @media (max-width: 991px) and (max-width: 991px) {
    .c-project_5 {
      height: 24.6rem; } }

@media (max-width: 425px) {
  .c-project_1 {
    padding: 0.2rem;
    background-color: #439072;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 39.6rem;
    border-radius: 4px;
    margin-bottom: 1.2rem;
    max-height: 12rem; } }
  @media (max-width: 425px) and (max-width: 991px) {
    .c-project_1 {
      height: 24.6rem; } }
@media (max-width: 425px) {
    .c-project_1 .c-projects_img {
      background-image: url("../Images/Assets_Projects_01_MOBILE.png");
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      transition: filter 500ms, transform 500ms ease-in-out; }

  .c-project_2 {
    padding: 0.2rem;
    background-color: #C83944;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 39.6rem;
    border-radius: 4px;
    max-height: 12rem; } }
  @media (max-width: 425px) and (max-width: 991px) {
    .c-project_2 {
      height: 24.6rem; } }

@media (max-width: 425px) {
  .c-project_3 {
    padding: 0.2rem;
    background-color: #4C6468;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 39.6rem;
    border-radius: 4px;
    max-height: 20rem; } }
  @media (max-width: 425px) and (max-width: 991px) {
    .c-project_3 {
      height: 24.6rem; } }
@media (max-width: 425px) {
    .c-project_3 .c-projects_img {
      background-image: url("../Images/Assets_Projects_03_MOBILE.png");
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      transition: filter 500ms, transform 500ms ease-in-out; }

  .c-project_4 {
    padding: 0.2rem;
    background-color: #597BA4;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 39.6rem;
    border-radius: 4px;
    max-height: 12rem;
    margin-bottom: 1.2rem; } }
  @media (max-width: 425px) and (max-width: 991px) {
    .c-project_4 {
      height: 24.6rem; } }

@media (max-width: 425px) {
  .c-project_5 {
    padding: 0.2rem;
    background-color: #B0B2BE;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 39.6rem;
    border-radius: 4px;
    max-height: 12rem; } }
  @media (max-width: 425px) and (max-width: 991px) {
    .c-project_5 {
      height: 24.6rem; } }
@media (max-width: 425px) {
    .c-project_5 .c-projects_img {
      background-image: url("../Images/Assets_Projects_05_MOBILE.png");
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      transition: filter 500ms, transform 500ms ease-in-out; } }
.c-projects_copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 500ms;
  transition-timing-function: ease-in-out; }
  .c-projects_copy:hover {
    background: rgba(0, 0, 0, 0.38); }
  .c-projects_copy:hover .c-projects_img {
    transform: scale(1.1);
    filter: blur(24px);
    -webkit-filter: blur(24px); }
  .c-projects_copy:hover .c-projects_copy-info {
    opacity: 1; }
  .c-projects_copy:hover .c-button-2 {
    opacity: 1;
    box-shadow: unset; }
  .c-projects_copy .c-button-2 {
    color: #FAFAFA;
    border-color: #FAFAFA;
    opacity: 0;
    transition: opacity 300ms, transform 300ms, background-color 300ms, border 300ms ease-in-out; }
    .c-projects_copy .c-button-2:hover {
      background-color: rgba(255, 255, 255, 0.16);
      border-color: rgba(255, 255, 255, 0.16); }
  @media (max-width: 991px) {
    .c-projects_copy:hover {
      background: unset; }
    .c-projects_copy:hover .c-projects_img {
      transform: unset;
      filter: unset;
      -webkit-filter: unset; }
    .c-projects_copy:hover .c-button-2 {
      opacity: unset;
      box-shadow: unset; }
    .c-projects_copy .c-button-2 {
      display: none; } }

.c-projects_copy-info {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  text-decoration: none;
  transition: all 300ms ease-in-out; }
  .c-projects_copy-info .c-title-4, .c-projects_copy-info .c-text-2 {
    color: #FAFAFA;
    color: #FAFAFA;
    margin-bottom: 4px; }
  @media (max-width: 991px) {
    .c-projects_copy-info {
      opacity: 1;
      flex-direction: row;
      margin: 0;
      width: 100%;
      padding: 0.5rem 0;
      margin-top: auto;
      backdrop-filter: blur(6px);
      background: rgba(0, 0, 0, 0.38); }
      .c-projects_copy-info .c-title-4, .c-projects_copy-info .c-text-2 {
        font-size: 1rem;
        margin-bottom: 0; }
      .c-projects_copy-info .c-title-4 {
        margin-right: 0.8rem; } }

/* ----------------------------------------------------------------------------  */
/* My Process */
.cc-section_process {
  margin-top: unset;
  padding-top: 10rem;
  padding-bottom: 8.5rem;
  background-color: #140E0E; }
  .cc-section_process .c-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10rem; }
    @media (max-width: 425px) {
      .cc-section_process .c-container {
        flex-direction: column;
        justify-content: flex-start; } }
  @media (max-width: 991px) {
    .cc-section_process {
      padding-top: 5rem;
      padding-bottom: 5rem; }
      .cc-section_process .c-container {
        justify-content: stretch;
        padding-bottom: 0; } }

.c-process_copy {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-bottom: 2\rem;
  position: sticky;
  top: 10rem;
  max-width: 27rem;
  height: 100%; }
  .c-process_copy .c-title-2 {
    color: #FF4F3C;
    margin-bottom: 1rem; }
  @media (max-width: 991px) {
    .c-process_copy {
      max-width: 50%; } }
  @media (max-width: 425px) {
    .c-process_copy {
      max-width: 100%;
      position: static; }
      .c-process_copy h2, .c-process_copy p {
        text-align: center; } }

.c-process_cards {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 34rem; }
  @media (max-width: 991px) {
    .c-process_cards {
      flex-flow: column;
      max-width: 100%;
      margin-left: 1rem; } }
  @media (max-width: 425px) {
    .c-process_cards {
      margin: 0; } }

.c-process_cards-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 2rem 2rem 2rem;
  margin-bottom: 1rem;
  max-width: 16.5rem;
  background: linear-gradient(150.64deg, #242424 0%, #140E0E 100%);
  box-shadow: 64px 64px 160px rgba(0, 0, 0, 0.12);
  border-radius: 8px; }
  @media (max-width: 991px) {
    .c-process_cards-content {
      max-width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column; } }

.cc-process_cards-col_1 {
  position: relative;
  top: 9.25rem;
  margin-right: 1rem; }
  @media (max-width: 991px) {
    .cc-process_cards-col_1 {
      position: static;
      margin-right: 0;
      max-width: 100%; } }

.c-process_cards-img {
  width: 11.5rem;
  margin-bottom: 2.5rem; }

.c-process_cards-copy .c-title-5 {
  color: #FAFAFA;
  margin-bottom: 0.25rem; }
.c-process_cards-copy .c-text-2 {
  margin: unset; }
@media (max-width: 991px) {
  .c-process_cards-copy {
    text-align: center; } }

/* ----------------------------------------------------------------------------  */
/* Testimonial */
.carousel {
  position: relative;
  width: 100%;
  padding: 7rem 2rem 2.5rem 2rem;
  margin-top: 3rem; }
  @media (max-width: 991px) {
    .carousel {
      padding: 2rem; } }
  @media (max-width: 425px) {
    .carousel {
      margin-top: 0;
      padding: 1.25rem; } }

.c-carousel_inner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 7rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 69rem;
  border-radius: 4px;
  box-shadow: 64px 64px 160px rgba(0, 0, 0, 0.12); }
  @media (max-width: 991px) {
    .c-carousel_inner {
      padding: 2.5rem;
      flex-direction: column-reverse;
      max-width: 100%; } }
  @media (max-width: 425px) {
    .c-carousel_inner {
      padding: 2rem; } }

.c-arrows_container {
  z-index: 5;
  display: flex;
  flex-direction: column-reverse;
  margin-left: auto;
  margin-top: 75px;
  margin-bottom: auto; }
  @media (max-width: 991px) {
    .c-arrows_container {
      flex-direction: row;
      margin-top: 2rem;
      margin-left: auto;
      margin-right: auto; } }

.c-arrows_control-next {
  display: flex;
  justify-content: center;
  padding: 1.75rem;
  margin-bottom: 0.5rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 500px;
  border: unset;
  transition: box-shadow 300ms, transform 300ms ease-in-out;
  box-shadow: 12px 12px 32px rgba(0, 0, 0, 0.12); }
  @media (max-width: 991px) {
    .c-arrows_control-next {
      margin-left: 0.25rem;
      margin-bottom: 0;
      z-index: 1;
      background: white; } }

.c-arrows_control-prev {
  display: flex;
  justify-content: center;
  padding: 1.75rem;
  margin-bottom: 0.5rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 500px;
  border: unset;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 300ms, transform 300ms ease-in-out; }

.c-arrows_control-prev:hover {
  box-shadow: 12px 12px 32px rgba(0, 0, 0, 0.12); }
.c-arrows_control-prev:hover + .c-arrows_control-next {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.12); }
@media (max-width: 991px) {
  .c-arrows_control-prev {
    box-shadow: 12px 12px 32px rgba(0, 0, 0, 0.12);
    margin-right: 0.25rem;
    margin-bottom: 0; }
    .c-arrows_control-prev:hover + .c-arrows_control-next {
      box-shadow: 12px 12px 32px rgba(0, 0, 0, 0.12); } }

.c-arrows_control-next:active {
  opacity: 0.5;
  transform: scale(0.8); }

.c-arrows_control-prev:active {
  opacity: 0.5;
  transform: scale(0.8); }

.c-arrows_control-next svg {
  transition: transform 300ms ease-in-out; }

.c-arrows_control-prev svg {
  transform: rotateZ(180deg);
  transition: transform 300ms ease-in-out; }

.c-carousel_inner-content {
  max-width: 41rem;
  margin-right: 2.5rem; }

.carousel-item {
  background: #FAFAFA; }

.c-testimonial_content {
  display: flex;
  flex-direction: column;
  max-width: 100%; }

.c-testimonial_content-quote {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem; }
  .c-testimonial_content-quote img {
    width: 3.37rem;
    margin-bottom: 1.5rem; }
  .c-testimonial_content-quote blockquote {
    font-size: 2rem;
    line-height: 2.75rem;
    letter-spacing: 0.156rem;
    color: #FF4F3C; }
  @media (max-width: 991px) {
    .c-testimonial_content-quote {
      margin-bottom: 2rem; }
      .c-testimonial_content-quote img {
        width: 2rem;
        margin-bottom: 1rem; }
      .c-testimonial_content-quote blockquote {
        font-size: 1.75rem;
        line-height: 2.5rem;
        letter-spacing: 1px;
        color: #FF4F3C; } }
  @media (max-width: 425px) {
    .c-testimonial_content-quote blockquote {
      font-size: 1.25rem;
      line-height: 2rem; } }

.c-testimonial_content-author {
  display: flex;
  flex-direction: row; }
  .c-testimonial_content-author img {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem; }
  .c-testimonial_content-author .c-testimonial_author-copy {
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .c-testimonial_content-author .c-testimonial_author-copy .c-title-6 {
      margin: 0; }

/* ----------------------------------------------------------------------------  */
/* FAQs */
.cc-section_faqs {
  padding-top: 7.5rem;
  padding-bottom: 0; }

.cc-container_faqs {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 425px) {
    .cc-container_faqs {
      padding: 0; } }

.c-faqs_col01 {
  max-width: 34rem; }
  .c-faqs_col01 .c-title-2 {
    margin-bottom: 5rem; }
    @media (max-width: 991px) {
      .c-faqs_col01 .c-title-2 {
        margin-bottom: 3.5rem; } }
    @media (max-width: 425px) {
      .c-faqs_col01 .c-title-2 {
        padding: 0 1.25rem; } }

.c-faqs_divider {
  width: 100%;
  height: 1px;
  background-color: #EAEAEA;
  margin-bottom: 2rem;
  opacity: 0.64; }
  @media (max-width: 425px) {
    .c-faqs_divider {
      margin-bottom: 1rem; } }

.accordion-item {
  background-color: unset;
  border: unset;
  margin-bottom: 2rem;
  border-radius: 0.5rem; }
  @media (max-width: 991px) {
    .accordion-item {
      margin-bottom: 1.5rem; } }
  @media (max-width: 425px) {
    .accordion-item {
      margin-bottom: 1rem; } }

.accordion-item:first-of-type {
  border-radius: 0.5rem; }

.accordion-button {
  background-color: unset;
  color: #8D9094;
  font-size: 1.12rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: inherit;
  padding: 0 2rem;
  transition: padding 300ms, box-shadow 300ms ease-in-out;
  border-radius: 0.5rem 0.5rem 0 0; }
  .accordion-button p {
    margin-right: 2.5rem; }
    @media (max-width: 425px) {
      .accordion-button p {
        margin-right: 1.5rem; } }
  .accordion-button:focus {
    border-color: unset;
    box-shadow: unset; }
  .accordion-button::after {
    flex-shrink: 0;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: auto;
    content: "";
    border-radius: 100px;
    background-image: url(../Images/Assets_FAQs_arrow.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.12);
    transition: transform 300ms, box-shadow 300ms ease-in-out; }
  .accordion-button:not(.collapsed) {
    color: #FF4F3C;
    background-color: #FAFAFA;
    box-shadow: unset;
    padding-top: 2rem; }
  .accordion-button:not(.collapsed)::after {
    background-image: url(../Images/Assets_FAQs_arrow02.svg);
    transform: rotate(-90deg);
    box-shadow: -8px 12px 32px rgba(0, 0, 0, 0.12); }
  @media (max-width: 991px) {
    .accordion-button {
      padding: 1.5rem 1.5rem 0 1.5rem; } }

.show {
  border-radius: 0 0 0.5rem 0.5rem;
  animation: shadow;
  animation-duration: 500ms;
  box-shadow: 64px -32px 160px rgba(0, 0, 0, 0.24); }

@keyframes shadow {
  0% {
    box-shadow: 64px -32px 160px rgba(0, 0, 0, 0); }
  100% {
    box-shadow: 64px -32px 160px rgba(0, 0, 0, 0.24); } }
.accordion-body {
  padding: 0 7rem 2rem 2rem;
  color: #8D9094;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: inherit;
  transition: box-shadow 300ms easy-in-out; }
  @media (max-width: 991px) {
    .accordion-body {
      padding: 0 1.5rem 1.5rem 1.5rem; } }

.c-faqs_col02 {
  margin-left: 2.5rem;
  width: 27rem; }
  .c-faqs_col02 img {
    width: 100%;
    border-radius: 0.5rem; }
  @media (max-width: 991px) {
    .c-faqs_col02 {
      display: none; } }

/* ----------------------------------------------------------------------------  */
/* Footer */
.cc-footer {
  margin: 6.5rem 2.5rem 2.5rem 2.5rem;
  padding: unset;
  background: #140E0E;
  border-radius: 0.5rem; }
  .cc-footer .c-container {
    padding: 7.5rem 7rem 3.5rem 7rem;
    max-width: 1328px;
    background-color: #140E0E;
    border-radius: 0.5rem; }
  @media (max-width: 991px) {
    .cc-footer {
      margin: 1rem 0 0 0;
      border-radius: 0; }
      .cc-footer .c-container {
        padding: 5rem 2.5rem 2.5rem 2.5rem; } }
  @media (max-width: 425px) {
    .cc-footer {
      margin: 0; }
      .cc-footer .c-container {
        padding: 4rem 1.25rem 1.25rem 1.25rem; } }

.c-footer_content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7.5rem; }
  @media (max-width: 991px) {
    .c-footer_content {
      margin-bottom: 4rem; } }
  @media (max-width: 425px) {
    .c-footer_content {
      flex-direction: column-reverse;
      margin-bottom: 5rem; } }

.c-footer_col1 {
  max-width: 27rem;
  margin-right: 2rem; }
  @media (max-width: 991px) {
    .c-footer_col1 {
      max-width: 100%; } }
  @media (max-width: 425px) {
    .c-footer_col1 {
      display: flex;
      flex-direction: row; } }

.c-footer_avatar {
  margin-bottom: 8.5rem; }
  .c-footer_avatar img {
    width: 6rem;
    height: 6rem;
    margin-bottom: 1rem; }
  .c-footer_avatar .c-title-5 {
    color: #FAFAFA; }
  @media (max-width: 991px) {
    .c-footer_avatar {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 3.5rem; }
      .c-footer_avatar img {
        width: 5.5rem;
        height: 5.5rem;
        margin-bottom: 0;
        margin-right: 1rem; }
      .c-footer_avatar .c-text-2 {
        margin: 0; } }
  @media (max-width: 425px) {
    .c-footer_avatar {
      margin: 0; }
      .c-footer_avatar h5, .c-footer_avatar p {
        display: none; } }

.c-footer_contact .c-text-2 {
  color: #FF4F3C; }
.c-footer_contact .c-button-2 {
  color: #FAFAFA;
  border-color: #FAFAFA;
  transition: background-color 500ms, border 500ms, transform 300ms ease-in-out; }
  .c-footer_contact .c-button-2:hover {
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.08);
    box-shadow: none; }
  @media (max-width: 991px) {
    .c-footer_contact .c-button-2 {
      display: inline-block; } }

.c-footer_col2 {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  max-width: 41rem; }
  @media (max-width: 991px) {
    .c-footer_col2 {
      max-width: 24rem; } }
  @media (max-width: 425px) {
    .c-footer_col2 {
      margin-bottom: 2rem; } }

.c-footer_copy .c-title-2 {
  color: #FF4F3C;
  margin-bottom: 2rem; }
.c-footer_copy .c-text-2 {
  max-width: 27rem; }
@media (max-width: 991px) {
  .c-footer_copy .c-title-2 {
    margin-bottom: 4px; } }

.c-footer_social {
  display: flex;
  flex-direction: row; }
  .c-footer_social a {
    display: flex;
    justify-content: center;
    margin-right: 0.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 500px;
    transition: background 300ms ease-in-out; }
    .c-footer_social a:hover {
      background-color: #FF4F3C; }
    .c-footer_social a svg {
      margin: auto;
      transition: transform 300ms ease-in-out; }
    .c-footer_social a:hover svg {
      transform: scale(1.2); }
  @media (max-width: 425px) {
    .c-footer_social {
      justify-content: space-around;
      margin-top: 1rem; } }

.c-footer_nav {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px #282520;
  padding-top: 2rem; }
  .c-footer_nav a {
    margin-right: 2rem;
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: inherit;
    text-decoration: none;
    color: #8D9094;
    opacity: 0.8;
    transition: color 300ms, opacity 300ms ease-in-out; }
    .c-footer_nav a:hover {
      color: #FAFAFA;
      opacity: 1; }
  .c-footer_nav p {
    font-size: 0.87rem;
    color: #8D9094;
    margin-bottom: 0; }
  @media (max-width: 991px) {
    .c-footer_nav {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
      .c-footer_nav .c-footer_nav-links {
        margin-bottom: 1rem; } }

@media (max-width: 425px) {
  .c-footer_nav-links {
    display: flex;
    flex-flow: wrap;
    justify-content: center; }
    .c-footer_nav-links a {
      margin: 0 0.5rem; } }

/* ----------------------------------------------------------------------------  */
/* 404 */
.cc-404 {
  width: 100vw;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.c-404-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem; }
  .c-404-wrapper .c-404-img {
    width: 25rem; }
  .c-404-wrapper .c-404-text {
    position: absolute;
    font-size: 10.5rem;
    line-height: 10.5rem;
    letter-spacing: 4px;
    font-weight: 500;
    color: #FF4F3C;
    top: 38.5%;
    z-index: -100; }
  @media (max-width: 425px) {
    .c-404-wrapper .c-404-img {
      width: 20rem; }
    .c-404-wrapper .c-404-text {
      font-size: 8.5rem;
      top: 33.5%; } }

.c-404-copy {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.cc-404-footer {
  padding: 2rem;
  border: none; }

/*# sourceMappingURL=style.css.map */
