
.cc-section_expertise {
    padding-bottom: 15rem;

    @media (max-width:991px) {
        padding-bottom: 5rem;
    }
}

.c-expertise_copy {
    text-align: center;
    margin-bottom: 11.12rem;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;

    .c-title-2 {
        margin-bottom: 1rem;
    }

    .c-text-1 {
        margin: unset;
    }

    @media (max-width:991px) {
        margin-bottom: 8rem;
        max-width: 33rem;

        .c-title-2 {
            margin-bottom: 4px;
        }
    }

    @media (max-width:425px) {
        margin-bottom: 6rem;
        
    }
}

.c-expertise {
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 69rem;

    @media (max-width:425px) {
        flex-flow: column-reverse;
        
    }
}

@mixin c-expertise_card($title, $shadow) {
    color: $title;
    box-shadow: $shadow;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 34rem;
    padding: 12.5rem 4rem 4rem 4rem;
    margin-right: 2rem;
    border-radius: 4px;
    background-color: $gray-04;
    transition: box-shadow 500ms, color 500ms, transform 500ms;
    transition-timing-function: ease-in-out;

    @media (max-width:991px) {

        padding: 10.25rem 1.5rem 1.5rem 1.5rem;
    }
}

@mixin c-expertise_img($width, $position) {
    width: $width;
    top: $position;

    position: absolute;
    align-self: center;
    z-index: 1;
    transition: transform 500ms ease-in-out;
}

.c-expertise_card01 {
    @include c-expertise_card($red, 64px 64px 160px $shadow-black);
    transform: scale(1.05);

    .c-expertise_img {
        @include c-expertise_img(24rem, -5rem);
    }

    @media (max-width:991px) {
        @include c-expertise_card($black, 64px 64px 160px $shadow-black);
        transform: unset;
        margin-right: 0.5rem;

        .c-expertise_img {
            @include c-expertise_img(17.5rem, -3rem);            
        }

    }

    @media (max-width:425px) {
        margin-bottom: 5rem;
        
    }
}

.c-expertise_card02 {
    @include c-expertise_card($black, unset);
    top: 64px;

    &:hover + .c-expertise_card01 {
        @include c-expertise_card($black, unset);
        transform: scale(1);

        .c-expertise_img {
            transform: translateY(-1rem);
        }
    }

    &:hover {
        @include c-expertise_card($red, 64px 64px 160px $shadow-black);
        transform: scale(1.05)
    }

    .c-expertise_img {
        @include c-expertise_img(12rem, -5rem);
    }

    &:hover .c-expertise_img {
        transform: translateY(1rem);
        opacity: 1;
    }

    @media (max-width:991px) {

        @include c-expertise_card($black, 64px 64px 160px $shadow-black);
        top: 0;
        z-index: 1;
        margin-right: 0;
        margin-left: 0.5rem;

        &:hover + .c-expertise_card01 {
            @include c-expertise_card($black, 64px 64px 160px $shadow-black);
            transform: unset;
            margin-right: 0.5rem;
    
            .c-expertise_img {
                transform: unset;
            }
        }

        &:hover {
            @include c-expertise_card($black, 64px 64px 160px $shadow-black);
            transform: unset;
            margin-right: 0;
            margin-left: 0.5rem;
        }

        .c-expertise_img {
            @include c-expertise_img(9rem, -4rem);
        }

        &:hover .c-expertise_img {
            transform: unset;
            opacity: 1;
        }
        
    }
}

.c-expertise_card-copy {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .c-title-3 {
        margin-bottom: 2rem;
    }

    .c-text-2 {
        margin-bottom: 1rem;
    }

    @media (max-width:991px) {

        .c-title-3 {
            margin-bottom: 0.87rem;
        }
    }
}