.c-header {
    background-color: $gray-04;
    border-bottom: solid 1px $gray-03;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 66px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    @media (max-width: 991px) {
        height: initial;
        padding: 0.75rem 0;
    }
}

.navbar {
    padding: 0.75rem 0 0 0!important;
    max-width: 1104px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    background-color: unset!important;
    max-width: 70rem;

    @media (max-width:991px) {
        max-width: 100%;
        padding: 0 2.5rem!important;
        
    }

    @media (max-width:425px) {
        padding: 0 1.25rem!important;
        
    }
}

.container-fluid {
    padding: 0;

    @media (max-width:991px) {
        display: flex;
        flex-direction: row;

        button {
            order: 2;
        }

        .social-wrapper {
            order: 1;
        }

        .navbar-collapse {
            order: 3;
        }

        .c-nav_social {
            padding-left: 0;
            padding-right: 2rem;

            li {
                margin-left: 0;
                margin-right: 0.5rem;
            }
        }
    }
}

.c-menu-icon {
    display: none;
    padding: 2px;

    @media (max-width:991px) {
        display: block;
        
    }

}

.navbar-toggler {
    padding: 0.2rem;
    border: none;

    &:focus {
        box-shadow: none;
    }
}

.navbar-collapse {
    list-style: none;
}

.navbar-nav {

    @media (max-width:991px) {

        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        height: 100vh;

    }
}

.nav-item {
    padding: 0.5rem;
    margin-right: 1rem;
    height: 3rem;

    &:hover {

        .nav-link {
            color: $gray-01;
        }

        .current-link {
            width: 4px;
            height: 4px;
        }
    }

    @media (max-width:991px) {
        margin-bottom: 1.5rem;
        margin-right: 0;
    }
}

.nav-link {
    padding: 0!important;
    font-size: 0.87rem;
    color: $gray-02!important;
    line-height: 1.5rem;
    letter-spacing: 1px;
    transition: all 300ms ease-in-out;

    &:visited {
        color: none;
    }

    @media (max-width:991px) {
        font-size: 2rem;
        line-height: 2rem;   
    }
}

.nav-link.active {
    color: $red!important;

    ~ .current-link {
        width: 4px;
        height: 4px;
        background-color: $red;
    }
}

.current-link {
    width: 0px;
    height: 0px;
    background: $gray-02;
    border-radius: 100px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: all 300ms ease-in-out;

    @media (max-width:991px) {
        display: none;
    }
}

.c-nav_social {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    list-style: none;
    margin-top: 0.3rem;

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        margin-left: 0.5rem;

        a {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                margin: auto;
                transition: all 300ms ease-in-out;

                path {
                    fill: $gray-02;
                    transition: all 300ms ease-in-out;
                }
            }
        }

        &:hover svg {
            transform: scale(1.1);

            path {
                fill: $red;
            }
        }
    }

    @media (max-width:991px) {
        margin: 0;
        
    }
}

.navbar-collapse.collapse.show {
    border-radius: unset;
    animation: unset;
    animation-duration: unset;
    box-shadow: unset;
    margin-bottom: 2rem;

}