
.cc-section_projects {
    margin-top: unset;
    margin-bottom: unset;
    padding-top: 10rem;
    padding-bottom: unset;
    background-color: $dark-black;

    .c-title-2 {
        color: $gray-04;
        text-align: center;
        margin-bottom: 5rem;
    }

    @media (min-width: 1400px) {

        .container-sm {
            max-width: 1104px;
            padding: unset;
        }
    }

    @media (min-width: 320px) and (max-width:1399px) {
        .container-sm {
            max-width: 100%;
        }
    }

    @media (max-width:991px) {
        padding-top: 5rem;

        .c-title-2 {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
            max-width: 16rem;
        }
    }
}

.row {
    padding-bottom: 1.5rem;

    @media (max-width:991px) {

        padding-bottom: 1.25rem;

        .col-5 {
            padding-right: 0.62rem;
            padding-left: 0.62rem;
        }

        .col {
            padding-right: 0.62rem;
            padding-left: 0.62rem;
        }
    }

    @media (max-width:425px) {
        flex-direction: column;

        .col-5 {
            width: 100%;
        }
        
    }
}

@mixin c-project($padding, $bg) {
    padding: $padding;
    background-color: $bg;

    position: relative;
    z-index: 1;
    width: 100%;
    height: 39.6rem;
    border-radius: 4px;

    @media (max-width:991px) {
        height: 24.6rem;
    }
}

@mixin c-project_img($background) {
    background-image: $background;

    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: filter 500ms, transform 500ms ease-in-out;
}

.c-project_1 {
    @include c-project(2.5rem 0 0 2.5rem, $project-01);

    .c-projects_img {
        @include c-project_img(url('/Images/Assets_Projects_01.png'));
    }
}

.c-project_2 {
    @include c-project(0 0 2.5rem 2.5rem, $project-02);

    .c-projects_img {
        @include c-project_img(url('/Images/Assets_Projects_02.png'));
    }
}

.c-project_3 {
    @include c-project(0 2.5rem, $project-03);

    .c-projects_img {
        @include c-project_img(url('/Images/Assets_Projects_03.png'));
    }
}

.c-project_4 {
    @include c-project(0 2.5rem 0 0, $project-04);
    
    .c-projects_img {
        @include c-project_img(url('/Images/Assets_Projects_04.png'));
    }
}

.c-project_5 {
    @include c-project(0 0 2.5rem 0, $project-05);

    .c-projects_img {
        @include c-project_img(url('/Images/Assets_Projects_05.png'));
    }
}

@media (max-width:991px) {

    .c-project_1 {
        @include c-project(1.5rem 0 0 1.5rem, $project-01);

    }

    .c-project_2 {
        @include c-project(0 0 1.5rem 1.5rem, $project-02);
    }

    .c-project_3 {
        @include c-project(0 1.5rem, $project-03);
    }

    .c-project_4 {
        @include c-project(1.5rem 1.5rem 0 0, $project-04);
    }

    .c-project_5 {
        @include c-project(0 1.5rem 1.5rem 0, $project-05);
    }

}

@media (max-width:425px) {

    .c-project_1 {
        @include c-project(0.2rem, $project-01);
        margin-bottom: 1.2rem;
        max-height: 12rem;

        .c-projects_img {
            @include c-project_img(url('/Images/Assets_Projects_01_MOBILE.png'));
        }
    }

    .c-project_2 {
        @include c-project(0.2rem, $project-02);
        max-height: 12rem;
    }

    .c-project_3 {
        @include c-project(0.2rem, $project-03);
        max-height: 20rem;

        .c-projects_img {
            @include c-project_img(url('/Images/Assets_Projects_03_MOBILE.png'));
        }
    }

    .c-project_4 {
        @include c-project(0.2rem, $project-04);
        max-height: 12rem;
        margin-bottom: 1.2rem;
    }

    .c-project_5 {
        @include c-project(0.2rem, $project-05);
        max-height: 12rem;

        .c-projects_img {
            @include c-project_img(url('/Images/Assets_Projects_05_MOBILE.png'));
        }
    }
}

.c-projects_copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    transition: background 500ms;
    transition-timing-function: ease-in-out;

    &:hover {
        background: rgba(0, 0, 0, 0.38);
    }

    &:hover .c-projects_img{
        transform: scale(1.1);
        filter: blur(24px);
        -webkit-filter: blur(24px);
    }

    &:hover .c-projects_copy-info {
        opacity: 1;
    }

    &:hover .c-button-2 {
        opacity: 1;
        box-shadow: unset;
    }

    .c-button-2 {
        color: $gray-04;
        border-color: $gray-04;
        opacity: 0;
        transition: opacity 300ms, transform 300ms ease-in-out;

        &:hover {
            background-color: rgba(255, 255, 255, 0.16);
        }
    }

    @media (max-width:991px) {

        &:hover {
            background: unset;
        }

        &:hover .c-projects_img{
            transform: unset;
            filter: unset;
            -webkit-filter: unset;
        }

        &:hover .c-button-2 {
            opacity: unset;
            box-shadow: unset;
        }

        .c-button-2 {
            display: none;
        }


        
    }
}

.c-projects_copy-info {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    text-decoration: none;
    transition: all 300ms ease-in-out;

    .c-title-4, .c-text-2 {
        color: $gray-04;
        color: $gray-04;
        margin-bottom: 4px;
    }

    @media (max-width:991px) {
        opacity: 1;
        flex-direction: row;
        margin: 0;
        width: 100%;
        padding: 0.5rem 0;
        margin-top: auto;
        backdrop-filter: blur(6px);
        background: rgba(0, 0, 0, 0.38);

        .c-title-4, .c-text-2 {
            font-size: 1rem;
            margin-bottom: 0;
        }

        .c-title-4 {
            margin-right: 0.8rem;
        }
    }
}