$red: #FF4F3C;

$red-shadow: rgba(255, 79, 59, 0.24);

$black: #282520;

$dark-black: #140E0E;

$gradient-black: linear-gradient(150.64deg, #242424 0%, #140E0E 100%);

$shadow-black: rgba(0, 0, 0, 0.12);

$gray-01: #8D9094;

$gray-02: #BABDC2;

$gray-03: #EAEAEA;

$gray-04: #FAFAFA;

$project-01: rgba(67, 144, 114, 1);

$project-02: #C83944;

$project-03: #4C6468;

$project-04: #597BA4;

$project-05: #B0B2BE;

