/* these settings override the bootstrap ones */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: unset;
    margin-bottom: unset;
    font-weight: unset;
    line-height: unset;
}


/* ----------------------------------------------------------------------------  */

@mixin c-texts ($size, $weight, $height, $space) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $space;
}

.c-title-1 {
    @include c-texts(7rem, 500, 7.5rem, 4px);
}

.c-title-2 {
    @include c-texts(4rem, 500, 4.5rem, 2px);
}

.c-title-3 {
    @include c-texts(2.5rem, 500, 3.5rem, inherit);
}

.c-title-4 {
    @include c-texts(2rem, 500, 1.75rem, inherit);
}

.c-title-5 {
    @include c-texts(1.5rem, 500, 2rem, inherit);
}

.c-title-6 {
    @include c-texts(1.12rem, 500, 1.75rem, inherit);
}

.c-text-1 {
    @include c-texts(1.12rem, 400, 1.75rem, inherit);
    color: $gray-01;
}

.c-text-2 {
    @include c-texts(1rem, 400, 1.50rem, inherit);
    color: $gray-01;
}


/* ----------------------------------------------------------------------------  */


/* Responsive */

@media (max-width:991px) {
    .c-title-1 {
        @include c-texts(5rem, 500, 5.5rem, 2px);
    }
    .c-title-2 {
        @include c-texts(2.5rem, 500, 2.75rem, 2px);
    }
    .c-title-3 {
        @include c-texts(2rem, 500, 2.25rem, inherit);
    }
    .c-title-4 {
        @include c-texts(1.5rem, 500, 2rem, inherit);
    }
    .c-title-5 {
        @include c-texts(1.25rem, 500, 1.5rem, 1px);
    }
    .c-text-1 {
        @include c-texts(1rem, 400, 1.5rem, inherit);
    }
    .c-text-2 {
        @include c-texts(0.9rem, 400, 1.25rem, 1px);
    }
}

@media (max-width:425px) {
    .c-title-1 {
        @include c-texts(3.5rem, 500, 3.8rem, 2px);
    }
}